/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/


/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
  height: auto;
  background-color: rgb(220,220,225);
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.center     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}


/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Work Sans'; /* Make sure you have added this font in the head of your HTML! */
  color: rgb(60,60,65);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
}
p {
  margin-bottom: 1rem;
}

h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.4rem; line-height: 1.25; }
h3 { font-size: 2.0rem; line-height: 1.3; }
h4 { font-size: 1.8rem; line-height: 1.35; }
h5 { font-size: 1.7rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.5; }
p  { font-size: 1.1rem; line-height: 1.5;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  { font-size: 1.1rem; }

blockquote {
  border-left: 2px solid rgb(245,245,245);
  margin-left: 3%;
  padding-left: 3%;
  font-weight: 600;
  color: rgb(90,90,95);
}

/* Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0;
          margin-top: 0; }
li      { margin-bottom: 0.5rem; }


/* Padding & Margin */

header, footer  { padding: 2% 5%; }

section         { padding: 5%; }

.col,
[class*=col-]   { padding: 2%; }


/* Other universal styles */

.bg-featured{
  background-color: #1abc9c; /* featured color */
  color: white;
}
.bg-light {
  background-color: rgb(230,230,235); /* featured color */
}
.bg-dark {
  background-color: rgb(90,90,95); /* featured color */
  color: white;
}

/* featured icons */
[class*=fa].featured {
  color: #1abc9c; /* featured color */
  background: none;
}

.icon [class*=fa] {
  font-size: 2rem;
  padding: 0.5rem;
}

/* horizontal rule aka lines */
hr {
  border: none; /* this removes the weirdly styled border */
  border-top: 1px solid rgb(245,245,245);
  margin: 1rem 0;
}


/* ----- HEADER & FOOTER --------------------------- */
nav a {
    text-decoration: none;
    padding: 1em;
    color: inherit;
}
nav a:hover {
  color: #1abc9c; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.logo {
  max-height: 2.5rem;
  max-width: 15rem;
  margin: 0.5em 0;
}
header {
  border-bottom: 1px solid rgb(245,245,245);
}
header [class*=col] {
  padding: 0;
}

footer {
  border-top: 1px solid rgb(245,245,245);
}
footer nav a {
  display: block;
  padding: 0.5em;
}

footer nav [class*=fa], /* this special selector is targetting all classes with a fa, which includes all the font-awesome icons */
.social-share nav [class*=fa] {
  padding: 0 1em 0 0;
}


.social-share hr{
  margin: 3rem 0;
}
/* Hamburger menu */

.burger-menu{
  position:fixed;
  right:1rem;
  top:1rem;
  padding: 0.5rem;
  z-index:9;
  display: none;
}

.burger-menu .fas {
  font-size: 2rem;
}

.burger-content{
  display:none;
  position:fixed;
  top:0;
  left: 0;
  right:0;
  background-color: rgba(255,255,255,0.9);
  padding: 10%;
  text-align: center;
}
.burger-content a{
  display:block;
  padding:1%;
}


/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: #1abc9c; /* featured-color */
  background-size: cover;
  background-position: center;
  min-height:80vh;
  position: relative;
}

.banner.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#353b48, #000000);
    opacity: .5;
    z-index: 1;
}

.banner div {
  position: relative;
  z-index: 2;
}

.bg-img { /* This can be used for any col or div that you want filled with a background image. */
  background-color: grey; /* this is a fallback incase the image doesn't load */
  background-image: url('/images/yoga-1.jpg'); /* if you are adding a unique image to every one you can remove this, or use a placeholder here */
  background-size: cover;
  background-position: center;
  min-height: 20vh;
}

.bg-image.landscape {
  padding-bottom: 60%;
}

.bg-image.tall {
  padding-bottom: 110%;
}

/* Buttons */

.button,
.button-solid,
.button-inverted { /* styles for all buttons */
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

.button {
  border: 2px solid #1abc9c; /* featured color */
  color: #1abc9c; /* featured color */
}

.button:hover {
  border-color: rgb(60,60,65);
  color: rgb(60,60,65);
}

.button-solid {
  border: 2px solid #1abc9c; /* featured color */
  background-color: #1abc9c; /* featured color */
  color: white;
}

.button-solid:hover {
  background-color: rgb(60,60,65);
  border-color: rgb(60,60,65);
}

.button-inverted {
  border: 2px solid white; /* featured color */
  color: white; /* featured color */
}


.button-inverted:hover {
  border-color: rgb(90,90,95);
  color: rgb(90,90,95);
}

/* Cards */

.card {
  display: block;
  text-decoration: none;
  color: inherit;
  border: 2px solid rgb(200,200,205);
  transition: margin 0.5s;
}

.card:hover {
  margin-top: -10px;
}

.card .card-text {
  padding: 1rem;
}

.card .bg-img {
  padding-bottom: 60%; /* this controls the aspect ratio of the images, make it higher for square or portrait images */
}

/* Blog elements */
.blog-loop .blog-item {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.blog-loop .bg-img {
  padding-bottom: 60%;
  margin-bottom: 0.5rem;
}

.blog-loop img,
.post-body img {
    margin-bottom: 2vh;
}
.post-body {
  padding-right: 3%;
}

.post-meta {
  font-size: 0.9rem;
}

.sidebar > div {
  border: 1px solid rgb(245,245,245);
  padding: 2rem;
  margin: 2vh 0;
}

.previous, .next { /* This is to navigate to the previous and next page of pagination for blogs */
    padding: 0 1.5em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.category {
  display: inline-block;
  text-decoration: none;
  color: rgb(90,90,95);
  border: 1px solid rgb(90,90,95);
  margin: 2px;
  padding: 2px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

a.category:hover {
  border-color: #1abc9c; /* featured color */
  color: #1abc9c; /* featured color */
}


/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 2px solid rgb(200,200,205);
  padding: 0.8em;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #1abc9c; /* featured color */
}

textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: auto;
  display: block;
}

form [class*=col-] {
  padding: 5px;
}


.email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
}
.email-signup input[type="submit"] {
  padding: 0.8em;
  border-radius: 0;
}

/* ------------ BACKGROUND IMAGES --------------- */

/* home page intro banner */
#intro-banner {
  background-image: url('/images/yoga-1.jpg'); /* This is just an example */
}

/*------- Media Queries ------------------------*/
@media(max-width:800px) {

  /* --- General Responsive Helpers ----*/

  .mob-hide {
      display: none!important;
  }
  .mob-show,
  .burger-menu {
    display: block;
  }

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }

  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .center,
  .right {
    text-align: left;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }

}/* End media query */
