---
layout: default
title: Blog
---

<section class="container">
  <h1 class="center"> Latest on the blog </h1>

  <div class="grid blog-loop">

    {% for post in site.posts limit:6 %}
      <div class="col-4_sm-12">
          <a href="{{post.url}}" class="blog-item">
            <div class="bg-img" style="background-image:url('{{post.image_path}}'}"> </div>
            <h3> {{post.title}} </h3>
            <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
            {% for category in post.categories %}
              <span class="category"> {{category}} </span>
            {% endfor %}
            <p> {{post.excerpt | truncate:100 }} </p>
          </a>
        </div>
      {% endfor %}

  </div>
  <div class="center">
    <!-- This links to the archive of blog posts -->
    <a href="/archive" class="button"> See More </a>
  </div>
</section>

<!-- This is an example of a loop that shows the 3 most recent posts in the travel category -->
<section>
  <h2 class="center"> Travel Category Posts </h2>

  <div class="grid blog-loop">
    {% for post in site.categories.travel  limit:3 %}
    <div class="col-4_sm-12">
        <a href="{{post.url}}">
          <img src="{{post.image_path}}"> <!-- for consistent image sizes you will either need to crop the images beforehand or change this to divs with background images -->
          <h3> {{post.title}} </h3>
          <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
          <p> {{post.excerpt | truncate:100 }} </p>
        </a>
      </div>
    {% endfor %}
  </div>

</section>
