---
layout: default
title: Amelia Love TV
meta-description: Amelia Love videos
featured-image_path: /uploads/pr-photos-6472.jpg
icon-list:
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
cards:
  - heading: Apple
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    featured_image: /images/placeholder.png
  - heading: Banana
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    featured_image: /images/placeholder.png
  - heading: Pear
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    featured_image: /images/placeholder.png
---

<!-- FIRST BANNER SECTION ---->

<section id="intro-banner" class="banner grid-middle center">
  <div class="col-12">
  <h1-banner>Welcome To<br class="mob-hide"> AMELIA LOVE TV </h1-banner>
    </div>
</section>

<!-- CTA WITH BUTTON SECTION ---->
<!-- <section class="bg-featured center">
  <h3> Register Now - 20% Off </h3>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  <a class="button-inverted" href="#register"> REGISTER </a>
</section> -->

<!--  ICON GRID SECTION ---->
<!-- <section class="center">
  <h2> A SEAMLESS EXPERIENCE </h2>
  <div class="icon grid"> -->

    <!-- you can find the icon codes at font awesome (sort for free ones) -->

    <!-- {% for item in page.icon-list %}
    <div class="col-4_sm-12">
      <i class="{{item.icon-code}}"></i>
      <h3> {{item.heading}} </h3>
      <p> {{item.description}} </p>
    </div>
    {% endfor %}

  </div> <!-end of grid -->
<!-- </section> -->

<!-- CTA WITH SIGNUP SECTION ---->
<!-- <section class="bg-light center grid">
  <div class="col-12">
    <h3> Book A Free Discovery Call </h3>
    <p> This one could be connected to your email newsletter, like mailchimp or mailerlite or just a standard email form.  </p>
    <form class="email-signup" action="https://formspree.io/your@email.com"
        method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="_replyto" placeholder="Your Email">
        <input type="submit" value="Send" class="button">
    </form>
</section> -->

<!-- VIDEO GALLERY ---->
<section class="no-padding">
<div class="grid bg-light med-height">
  <div class="col-12_sm-12">
    <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
    <h2 id="video">Featured Videos</h2>

  <section class="grid padded">
    <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1vlhos/?pub=17mob1"></iframe>

      </div>
        <h6> The Charlie Ward Show | Amelia Love On Spiritual Warfare | November 28, 2022 </h6>
        <p> Charlie Ward and Amelia Love have a powerful discussion on Spiritual Warfare and Amelia's new online church, ChurchOnSundays. DO NOT WATCH WHILE DRIVING OR OPERATING HEAVY MACHINERY. Recorded November 28, 2022.</p>
        <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
    </div>

    <div class="col-4_sm-12">
        <div class="embed-container">

          <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/7nULKAVjvysd/"></iframe>

        </div>
          <h6> NESARA/GESARA Roundtable </h6>
          <p> Charlie Ward discusses NESARA/GESARA and current events with Juan O Savin, Amelia Love, and Warren Armour. Recorded October 12, 2022.</p>
          <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/rxZbqQqJNLrS/"></iframe>

      </div>
        <h6> Amelia Love & Juan O Savin: Angels and Demons </h6>
        <p> Discussion covers current events, angels and demons, and how to protect ourselves from spiritual attacks. Recorded October 6, 2022.</p>
        <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
      </div>

    <div class="col-4_sm-12">
      <div class="embed-container">

      <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/mWy4nYSi7lrw/"></iframe>

    </div>
      <h6> FUN! FUN! FUN! MUST SEE... </h6>
      <p>To book a FREE Discovery Call, visit: www.AmeliaLoveAcademy.com. For more information and to watch client testimonials, visit: www.AmeliaLoveWorld.com.</p>
    </div>
  </section>
</section>
<hr />

<section class="no-padding">
<div class="grid bg-light med-height">
  <div class="col-12_sm-12">
    <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
    <h2 id="church">Church On Sundays</h2>

    <section class="grid padded">
      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v21xm7c/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Jan. 8, 2023 </h6>
        <p>This week's Church On Sundays Service features a message on a hot topic: Lukewarm Christianity, given by Worship Leader Dallas. Prayer Warriors Delores Mitchell, Catherine Walker, and Lana Sherer join Dallas on the virtual platform. <p>Scripture verse: Revelation 3:1-22.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p><p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v20w97m/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Jan. 1, 2023 </h6>
        <p>Welcome to the Church On Sundays New Year's Day Service, with our Lead Minister, Dr. Sherry Furlow. J.W. Steelreed, author of <i>The Basics of Christianity</i> book series and leader of our new Bible Study Class, gives his personal testimony, and Dr. Sherry delivers a message that leaves no doubt that God has incredible plans for his children in 2023!</p><p>
        Scripture: Psalms 100 and Acts 4:1-22.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p><p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1zt52k/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Dec. 25, 2022 </h6>
        <p>Join us as we celebrate the Birth of Jesus through worship, scripture, and song—including a special message from ordained minister Elisha Bravo, CEO of Amelia Love World. </p><p>A live performance by singer/songwriter Billy Falcon closes out our special program.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p><p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1yr98i/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Dec. 18, 2022 </h6>
        <p>This week, Worship Leader Michelle Moore speaks on "Radical Faith" and welcomes special guests Elisha Bravo (testimony) and Billy Falcon (special music).</p><p>Scripture: Ephesians 6:16; 2 Corinthians 5:7; Matthew 15:28</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p><p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1xkza8/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Dec. 11, 2022 </h6>
        <p>Worship Leader Dallas delivers the message in this week's Church On Sundays worship service on flocks, shepherds, and humility, based on 1 Peter 5:1–11.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1waehz/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Dec. 4, 2022 </h6>
        <p>This week, Lead Minister Dr. Sherry Furlow discusses "Those Who Wait Upon the Lord," based on Isaiah 40:25–31.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

      <div class="col-4_sm-12">
      <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1uy7jq/?pub=17mob1"></iframe>

      </div>
        <h6> Church On Sundays | Nov. 27, 2022 </h6>
        <p>This week, Worship Leader Dallas brings us a message titled, "Take Up Your Cross."</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

    <div class="col-4_sm-12">
    <div class="embed-container">

      <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1tx85g/?pub=17mob1"></iframe>

    </div>
      <h6> Church On Sundays | Nov. 20, 2022 </h6>
      <p>Nashville-based inspirational speaker, author, and Church On Sundays Worship Leader Michelle Moore has the message for us this week: "What You Can Believe in Times of Uncertainty."</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

    </div>

    <div class="col-4_sm-12">
    <div class="embed-container">

      <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/mmFHZvSwiepO/"></iframe>

    </div>
      <h6> Church On Sundays | Nov. 13, 2022 </h6>
      <p> Worship Leader Dallas delivers the message in this week's ChurchOnSundays worship service, streamed live on Patriot Party News (PPN). Brought to you by www.AmeliaLoveWorld.com.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

    </div>

      <div class="col-4_sm-12">
        <div class="embed-container">

          <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/PWU7cRNB0N4e/"></iframe>

        </div>
          <h6> Church On Sundays | Nov. 6, 2022  </h6>
          <p> Lead Minister Dr. Sherry Furlow delivers the message in this inaugural ChurchOnSundays worship service, streamed live on Patriot Party News (PPN). Brought to you by www.AmeliaLoveWorld.com.</p><p>Broadcasting live, every Sunday, on ThePatriotPartyNews.com at 5 p.m. ET/4 p.m. CT/3 p.m. MT/2 p.m. PT. Brought to you by AmeliaLoveWorld.com.</p> <p>Subscribe to the AMELIA LOVE WORLD channels on Rumble and Bitchute for more Church On Sundays and other Amelia Love video content.</p>

      </div>

  </section>
</section>

  <section class="no-padding">
  <div class="grid bg-light med-height">
    <div class="col-12_sm-12">
      <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
      <h2 id="video">The Women's Hour</h2>

      <section class="grid padded">
        <div class="col-4_sm-12">
          <div class="embed-container">

            <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/cKtVZKSnqiLy/"></iframe>

          </div>
            <h6> The Women's Hour | Ep. 11 | October 31, 2022 </h6>
            <p> Welcome to this week's episode of The Women's Hour Q&A, with Amelia Love and PPN's Jennifer Carter.</p>
              <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
        </div>

        <div class="col-4_sm-12">
        <div class="embed-container">

          <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/X1TeW3qNsws3/"></iframe>

        </div>
        <h6> The Women's Hour | Ep. 10 | October 17, 2022 </h6>
        <p> Welcome to this week's episode of The Women's Hour Q&A, with Amelia Love and PPN's Jennifer Carter.</p>
          <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
        </div>

      <div class="col-4_sm-12">
        <div class="embed-container">

        <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/mwvFUMvF3VYE/"></iframe>

      </div>
      <h6> The Women's Hour | Ep. 2 | August 8, 2022 </h6>
      <p> Welcome to this week's episode of The Women's Hour Q&A, with Amelia Love and PPN's Jennifer Carter.</p>
        <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p>
      </div> -->
    </section>
  </section>
<hr />
  <section class="no-padding">
    <div class="grid bg-light med-height">
      <div class="col-12_sm-12">
        <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
        <h2 id="video">Whimsical Wednesdays</h2>

        <section class="grid padded">
          <div class="col-4_sm-12">
            <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1viqt1/?pub=17mob1"></iframe>

            </div>
              <h6> Whimsical Wednesdays | Ep. 18 | November 30, 2022 </h6>
              <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower! Today, David "Nino" Rodriguez joins the show to discuss current events with gloves OFF.</p>
                  <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

          <div class="col-4_sm-12">
            <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1vmi0a/?pub=17mob1"></iframe>

            </div>
              <h6> Whimsical Wednesdays | Ep. 17 | November 23, 2022 </h6>
              <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower! Our special guest Ann Vandersteel, of the Zelenko Freedom Foundation, talks truth with us.</p>
                  <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

          <div class="col-4_sm-12">
            <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1shqtx/?pub=17mob1"></iframe>

            </div>
              <h6> Whimsical Wednesdays | Ep. 16 | November 16, 2022 </h6>
              <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower! Special Guest Kevin Jenkins, of the Zelenko Freedom Foundation holds nothing back in this dynamic conversation.</p>
                  <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

          <div class="col-4_sm-12">
            <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1vmcp6/?pub=17mob1"></iframe>

            </div>
              <h6> Whimsical Wednesdays | Ep. 15 | November 9, 2022 </h6>
              <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower! The Zelenko Freedom Foundation's Kevin Jenkins hold nothing back in this dynamic conversation.</p>
                  <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

          <div class="col-4_sm-12">
            <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1vm44k/?pub=17mob1"></iframe>

            </div>
              <h6> Whimsical Wednesdays | Ep. 14 | November 2, 2022 </h6>
              <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower!</p>
                  <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

          <div class="col-4_sm-12">
          <div class="embed-container">

            <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://rumble.com/embed/v1sig33/?pub=17mob1"></iframe>

          </div>
            <h6> Whimsical Wednesdays | Ep. 13 | October 26, 2022 </h6>
            <p> Welcome to this week's episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower!</p>
                <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
          </div>

        <div class="col-4_sm-12">
          <div class="embed-container">

          <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/3XQMDLd7XGea/"></iframe>

        </div>
          <h6> Whimsical Wednesdays | Ep. 1 | August 3, 2022 </h6>
          <p> Welcome to the first-ever episode of Whimsical Wednesdays, with Amelia Love and Laura Eisenhower!</p>
              <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" rel="noreferrer" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
        </div>
      </section>
  </section>
<hr />
  <section class="no-padding">
        <div class="grid bg-light med-height">
          <div class="col-12_sm-12">
            <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
            <h2 id="video">Classic, Epic Roundtables</h2>

            <section class="grid padded">
              <div class="col-4_sm-12">
                <div class="embed-container">

                  <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/Ez6PmNSfoiWS/"></iframe>

                </div>
                  <h6> Ultimate Round Table | Young Pharaoh, Simon Parkes, Tony X, Laura Eisenhower, and Amelia Love </h6>
                  <p> A groundbreaking discussion (recorded in May 2020) organized by Contemporary Spiritual Master, Amelia Love. Learn more: www.AmeliaLoveWorld.com</p>
                  <p>Guest speaker details:</p>
                  <li>YOUNG PHARAOH<br />
                  YouTube: Young Pharaoh
                  Instagram: @pharaoh_aten
                  Twitter: @pharaoh_aten_
                  Website: Youngpharaoh.net</li>

                  <li>
                  SIMON PARKES<br />
                  YouTube: Simon Parkes
                  Website: SimonParkes.org</li>

                  <li>
                  TONY X (Dr. Antoine Tucker)<br />
                  YouTube: TheNewRightParty
                  Instagram: @Montaga
                  Twitter: @Montaga</li>

                  <li>
                  LAURA EISENHOWER<br />
                  YouTube: Laura Eisenhower
                  Twitter: LauraMagdalene4
                  Instagram: @Laura.0.13
                  Website: Cosmicgaia.org</li>

                  <p>Amelia was also joined by:</p>

                  <li>
                  June — Instagram: @intothejuniverse / @indigo_alchemist</li>

                  <li>
                  Preston — Instagram: @fucc_yeah / @thecabanagroup</li>
              </div>

              <div class="col-4_sm-12">
              <div class="embed-container">

                <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/VzVs5jHJpSpp/"></iframe>

              </div>
                <h6> Dr Charlie Ward, Simon Parkes, Young Pharaoh and Amelia Love!! Epic!! </h6>
                <p> In this epic roundtable, Dr. Charlie Ward, Simon Parkes, Young Pharaoh, and Amelia Love discuss the future of humanity, off planet species, what's in your food and much, much more! Recorded June 21, 2021.</p>
                <!-- <p>To book a FREE Discovery Call, visit: <a target="_blank" href="https://www.AmeliaLoveAcademy.com"></a>. For more information and to watch client testimonials, visit: <a target="_blank" href="https://www.AmeliaLoveWorld.com"></a>.</p> -->
                <br />
                <p>Dr. Charlie Ward: www.CharlieWard.tv
                <p>Simon Parkes: www.SimonParkes.org
                <p>Young Pharaoh: www.myurls.co/youngpharaoh
              </p>
              </div>

            <div class="col-4_sm-12">
              <div class="embed-container">

              <iframe scrolling="no" frameborder="0" allowfullscreen style="border: none;" src="https://www.bitchute.com/embed/tjAYt0kcskGT/"></iframe>

            </div>
              <h6> The Hidden Truth of History with Young Pharaoh, Amelia Love, Bryan Roy and Dr. Charlie Ward </h6>
              <p> Charlie Ward hosts a roundtable discussing the hidden truth of history with Young Pharaoh, Amelia Love, and Bryan Roy. Published with permission of The Charlie Ward Show. Originally posted February 17, 2022.</p>
            </div>
    </section>

    </section>

<!-- end grid -->

  <!-- <iframe src="https://www.youtube.com/embed/jG7dSXcfVqE" frameborder="0" allowfullscreen></iframe> -->

<!-- <div class="grid bg-dark med-height">
  <div class="col-6_sm-12 bg-img">
    <!- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
  <!-- </div>
  <div class="col-6_sm-12-middle padded">
    <h3> Heading </h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  </div>
</div> <!- end grid -->

<!-- <div class="grid mob-flip med-height">
  <div class="col-6_sm-12-middle padded">
    <h3> Heading </h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  </div>
  <div class="col-6_sm-12 bg-img"> -->
    <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
  <!-- </div>
</div> <!- end grid -->

<!-- CONTACT FORM SECTION ---->
<!-- <section class="center bg-light" id="register">
<h2> Heading </h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p> -->

<!-- <form class="grid-center" action="https://formspree.io/tina@instituteofcode.com"
    method="POST">
    <div class="col-4_sm-12">
      <input type="text" name="name" placeholder="Your Name">
      <input type="email" name="_replyto" placeholder="Your Name">
  </div>
  <div class="col-4_sm-12">
    <textarea placeholder="Your Message"></textarea>
  </div>
  <div class="col-12">
    <input type="submit" value="Send" class="button-solid">
  </div>
</form>
</section> -->

<!-- CARD GRID SERVICES SECTION ----->
<!-- <section class="grid">

  <div class="col-12 center">
    <h2> Services </h2>
    <p> You can use these for any kind of card display </p>
  </div>

  {% for card in page.cards %} -->

  <!-- start column -->
  <!-- <div class="col-4_sm-12"> -->

    <!-- start card -->
    <!-- <a class="card" href="{{card.link}}">
      <div class="bg-img" style="background-image:url('{{card.featured_image}}')"></div>
      <div class="card-text">
        <h3> {{card.heading}} </h3>
        <p> {{card.description}}</p>
      </div>
    </a> <!- end card -->

  <!-- </div><!-end column -->

  <!-- {% endfor %} -->
<!-- </section> -->
