/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/


/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.center     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

/* ----- UNIVERSAL STYLES --------------------------- */

.bg-featured{
  background-color: #1abc9c;
  color: white;
}
.bg-dark {}

.bg-light {}

.featured h1,
.featured h2,
.featured h3 {
  color: white;
}

section {
  padding: 10vh 5%;
}

body {
  font-family: 'Work Sans';
  color: rgb(60,60,65);

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: #1abc9c;
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 7vw;
  line-height: 0.9em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

.col, [class*=col-] {
  padding: 3%;
}

.fa {
  font-size: 2.5em;
  margin: 0 0 0.5em;
  color: #1abc9c; /* featured-color */
}


/* ----- HEADER & FOOTER --------------------------- */


/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: #1abc9c; /* featured-color */
  background-size: cover;
  background-position: center;
  min-height:80vh;
}

.bg-img {
  background-image: url('yoga-1.jpg'); /* if you are adding a unique image to every one you can remove this */
  background-size: cover;
  background-position: center;
}

/* Buttons */
.button,
.button-inverted {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
}
.button-inverted {
    border-color: white;
    color: white;
}
.button:hover {
  font-weight: bold;
}

/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8em;
  -webkit-appearance: none;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height:80%;
}
input[type="submit"] {
  width: auto;
  display: block;
  background-color: #1abc9c; /* teal */
}

form [class*=col-] {
  padding: 1%;
}

/* ----- SPECIFIC PAGES  --------------------------- */


/* BACKGROUND IMAGES */

#intro-banner {
  background-image: url('yoga-1.jpg');
}


@media(max-width:48em) {

  /* ------ General Responsive Helpers ---------*/

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%;
  }

  .mob-hide {
      display: none;
  }

  .mob-show {
    display: block;
  }


  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .left,
  .right {
    text-align: center;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {}
    padding: 1.5rem;
  }
}
