<footer class="grid-middle">

  <div class="col-12 padded-1">
    <img class="logo" src="/images/amelia-love-logo-cropped-CC66FF.png" alt="Amelia Love Logo">

  </div>
  <div class="col-12 padded-1">

    <a target="_blank" class="button-solid" href="https://www.amelialoveacademy.com/schedule">BOOK A FREE CALL</a>

  </div>
</section>

  <div class="col-12 padded-1">
    <nav>
      <a href="https://www.amelialoveworld.com"> Amelia Love World </a>
      <a href="https://www.amelialoveworld.com/mystory11"> About Amelia </a>
      <a href="/#video"> My Videos</a>
      <a href="https://www.howtobhappy.com/optin1651086657766"> Happiness Book </a>
    </nav>
  </div>

  <div class="col-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="https://www.instagram.com/ameliahappinessguru/"> <i class="fab fa-instagram"> </i>Instagram</a>
    </nav>
  </div>

</footer>

<!-- - - - - - FOOTER - - - - - -->

<footer class="grid-middle centered" id="footer">
  <!-- column -->
  <div class="col-12 padded-2 editable">
    <a href="/#footer"><img class="logo-footer" src="images/vitiello-consulting-primary-color.png" /></a>
    <h3 class="footer-tagline mob-hide"><span>trainings</span> + coaching + <span>consulting</span></h3>
    <nav class="nav-links nav-links-footer mob-hide">
      <a href="/#about"> about </a>
      <a href="/#services"> services </a>
      <a href="/#reviews"> reviews </a>
      <a href="/#contact"> contact </a>
    </nav>
  <br />
  <div class="BCE"><p class="emphasis">BCE: 0719.692.785</p></div>
  <div class="copyright">
    <p>All content copyright © 2022 Vitiello Consulting. All rights reserved.</p><p>Unauthorized use of any content posted on this website is strictly prohibited.</p>
  </div>
<br />
  <div class="site-credit">
    <p>Website designed with care by:</p>
    <a class="KSW-Comms" target="_blank" rel="noreferrer" href="http://kswcommunications.com">ksw communications</a><p></p>


  <div class="col-1 sm-hidden"> <!-- empty filler --> </div>

</div></div></footer>
