<header class="grid-middle">
  <div class="col-12_sm-12 left">
    <img class="logo" src="/images/amelia-love-logo-cropped-CC66FF.png" alt="Amelia Love TV">
    <hr />
  <div class="col-12_sm-12 left">

    <a target="_blank" class="button-solid" href="https://www.amelialoveacademy.com/schedule">BOOK A FREE CALL</a>

  </div>

  <div class="col-12_sm-12 mob-hide">
    <nav class="right">
      <a target="_blank" href="https://www.amelialoveworld.com"> Amelia Love World </a>
      <a target="_blank" href="https://www.amelialoveworld.com/mystory11"> About Amelia </a>
      <a target="_blank" href="/#video"> My Videos</a>
      <a target="_blank" href="https://www.howtobhappy.com/optin1651086657766"> Happiness Book </a>
    </nav>
  </div>
  </div>
</header>
