<footer class="grid-middle centered">

  <div class="col-12 padded-1">
    <img class="logo" src="/images/amelia-love-logo-cropped-CC66FF.png" alt="Amelia Love Logo">

  </div>
  <div class="col-12 padded-1">

    <a target="_blank" class="button-solid" href="https://www.amelialoveacademy.com/schedule">BOOK A FREE CALL</a>

  </div>
</section>

  <div class="col-12 padded-1">
    <nav>
      <a href="https://www.amelialoveworld.com"> Amelia Love World </a>
      <a href="https://www.amelialoveworld.com/mystory11"> About Amelia </a>
      <a href="/#video"> My Videos</a>
      <a href="https://www.howtobhappy.com/optin1651086657766"> Happiness Book </a>
    </nav>
  </div>

  <div class="col-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="https://www.instagram.com/ameliahappinessguru/"> <i class="fab fa-instagram"> </i>Instagram</a>
    </nav>
  </div>

<div class="col-1 sm-hidden"> <!-- empty filler --> </div>

</footer>
