<header class="grid-middle">
  <div class="col-12_sm-12 left">
    <img class="logo" src="/images/amelia-love-logo-cropped-CC66FF.png" alt="Amelia Love TV">

  <div class="col-12_sm-12 button-solid left">

    <form action="https://www.amelialoveacademy.com/schedule/">
      <button type="submit">Book A Free Call</button>
    </form>
  </div>
  </div>

  <div class="col-12_sm-12 mob-hide">
    <nav class="right">
      <a href="https://www.amelialoveworld.com"> Amelia Love World </a>
      <a href="https://www.amelialoveworld.com/mystory11"> About Amelia </a>
      <a href="/#video"> My Videos</a>
      <a href="https://www.howtobhappy.com/optin1651086657766"> Happiness Book </a>
    </nav>
  </div>
</header>
