<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo" src="/images/demo-logo.png" alt="Brand Name Here">
    <p> This is a short description of my brand, which is really fucking awesome. You should probably recommend it to someone </p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/shop"> Shop </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="#"> <i class="fab fa-facebook"></i>Facebook </a>
      <a href="#"> <i class="fab fa-instagram"> </i>Instagram</a>
      <a href="#"> <i class="fab fa-twitter"></i>Twitter</a>
    </nav>
  </div>

</footer>
