---
layout: default
---
<section class="container">
  <h1 class="center"> Archive of posts with {{ page.type }} '{{ page.title }}{{ page.date | date: "%Y" }}' </h1>

  <div class="grid blog-loop">
    {% for post in page.posts limit:6 %}
      <div class="col-4_sm-12">
          <a href="{{post.url}}">
            <img src="{{post.image_path}}"> <!-- for consistent image sizes you will either need to crop the images beforehand or change this to divs with background images -->
            <h3> {{post.title}} </h3>
            <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
            <p> {{post.excerpt | truncate:100 }} </p>
          </a>
        </div>
      {% endfor %}
  </div>
</section>
